/*Martin Ruiz
5/31/2022
A: Mission Control Operater Login*/

/*This block of code is used to style the HTML page for a user friendly feel*/
body {
background-color: darkorchid;
text-align: center;
font-size: xx-large;
color: lime;
}